<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Sorry</title>
	</head>
	<body>
		<p>{{screamIt 'Under Maintenance'}}</p>
		<p>Arnold Schwartzenneger: 'I'll be bach'</p>
	</body>
</html>